<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>乐优商城--我的订单</title>
    <link rel="icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="css/webbase.css"/>
    <link rel="stylesheet" type="text/css" href="css/pages-seckillOrder.css"/>
</head>

<body>


<!-- 头部栏位 -->
<!--页面顶部，由js动态加载-->
<script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#service").hover(function () {
            $(".service").show();
        }, function () {
            $(".service").hide();
        });
        $("#shopcar").hover(function () {
            $("#shopcarlist").show();
        }, function () {
            $("#shopcarlist").hide();
        });

    })
</script>
<script type="text/javascript" src="js/plugins/jquery.easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/plugins/sui/sui.min.js"></script>
<script type="text/javascript" src="js/plugins/jquery-placeholder/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="js/widget/nav.js"></script>

<!--header-->

<div id="homeOrderReceiveApp">
    <!-- 头部栏位 -->
    <div id="nav-bottom">
        <ly-top/>
    </div>
    <div class="py-container">
        <div class="yui3-g home">
            <!--左侧列表-->
            <div class="yui3-u-1-6 list">

                <div class="person-info">
                    <div class="person-photo"><img src="img/_/photo.png" alt=""></div>
                    <div class="person-account">
                        <span class="name">{{username}}</span>
                        <span class="safe"><a href="#" @click="logout">退出登录 </a></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="list-items">
                    <dl>
                        <dt><i>·</i> 订单中心</dt>
                        <dd><a href="home-index.html" class="list-active">我的订单</a></dd>
                        <dd><a href="home-order-pay.html">待付款</a></dd>
                        <dd><a href="home-order-send.html">待发货</a></dd>
                        <dd><a href="home-order-receive.html">待收货</a></dd>
                        <dd><a href="home-order-evaluate.html">待评价</a></dd>
                    </dl>
                    <dl>
                        <dt><i>·</i> 我的中心</dt>
                        <dd><a href="home-person-collect.html">我的收藏</a></dd>
                        <dd><a href="home-person-footmark.html">我的足迹</a></dd>
                    </dl>
                    <dl>
                        <dt><i>·</i> 物流消息</dt>
                    </dl>
                    <dl>
                        <dt><i>·</i> 设置</dt>
                        <dd><a href="home-setting-info.html">个人信息</a></dd>
                        <dd><a href="home-setting-address.html">地址管理</a></dd>
                        <dd><a href="home-setting-safe.html">安全管理</a></dd>
                    </dl>
                </div>
            </div>
            <!--右侧主内容-->
            <div class="yui3-u-5-6 order-pay">
                <div class="body">
                    <div class="table-title">
                        <table class="sui-table  order-table">
                            <tr>
                                <thead>
                                <th width="35%">宝贝</th>
                                <th width="10%">单价</th>
                                <th width="5%">数量</th>
                                <th width="8%">商品操作</th>
                                <th width="10%">实付款</th>
                                <th width="10%">交易状态</th>
                                <th width="10%">交易操作</th>
                                </thead>
                            </tr>
                        </table>
                    </div>
                    <div class="order-detail">
                        <div class="orders">
                            <!--order1-->
                            <div v-for="(order,index) in orders" :key="index">
                                <div class="choose-title">
                                    <label data-toggle="checkbox" class="checkbox-pretty">
                                        <input type="checkbox" checked="checked"><span>{{ly.formatDate(order.createTime)}}　订单编号：{{order.orderIdStr}}  店铺：哇哈哈 <a>和我联系</a></span>
                                    </label>
                                    <a class="sui-btn btn-info share-btn">分享</a>
                                </div>
                                <table class="sui-table table-bordered order-datatable"
                                       v-for="(orderDetail,k) in order.orderDetails" :key="k">
                                    <tbody>
                                    <tr>
                                        <td width="35%">
                                            <div class="typographic"><img width="70px" height="70px"
                                                                          :src="orderDetail.image"/></div>
                                            <a href="#" class="block-text">{{orderDetail.title}}</a>
                                            <div class="guige">规格：<span
                                                    v-for="(v) in JSON.parse(orderDetail.ownSpec)">{{v+" "}}</span>
                                            </div>
                                        </td>
                                        <td style="width :10%" class="center">
                                            <ul class="unstyled">
                                                <!--<li class="o-price">¥{{ly.formatPrice(orderDetail.price)}}</li>-->
                                                <li>¥{{ly.formatPrice(orderDetail.price)}}</li>
                                            </ul>
                                        </td>
                                        <td width="5%" class="center">X{{orderDetail.num}}</td>
                                        <td width="8%" class="center">

                                        </td>
                                        <td width="10%" class="center">
                                            <ul class="unstyled">
                                                <li>¥{{ly.formatPrice(orderDetail.price*orderDetail.num)}}</li>
                                                <li>（含运费：￥0.00）</li>
                                            </ul>
                                        </td>
                                        <td width="10%" class="center">
                                            <ul class="unstyled">
                                                <li>{{orderStatus[order.status]}}</li>
                                                <li><a href="home-orderDetail.html" class="btn">订单详情</a></li>
                                            </ul>
                                        </td>
                                        <td width="10%" class="center">
                                            <ul class="unstyled">
                                                <li v-if="order.status===1"><a href="javascript:void(0);"
                                                                               class="sui-btn btn-info"
                                                                               @click="toPay(order.orderIdStr)">立即付款</a>
                                                <li v-if="order.status === 2"><a href="javascript:void(0);"
                                                                                 class="sui-btn btn-info">提醒发货</a>
                                                </li>
                                                <li v-if="order.status === 3"><a href="javascript:void(0);"
                                                                                 class="sui-btn btn-info">确认收货</a>
                                                </li>
                                                <li v-if="order.status === 3">4天23时后自动确认</li>
                                                <li><a href="javascript:void(0)">取消订单</a></li>

                                            </ul>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="choose-order">
                            <div class="sui-pagination pagination-large top-pages">
                                <ul>
                                    <li class="prev disabled">
                                        <a :class="{disable:show.page==1}" @click="prev()">«上一页</a>
                                    </li>
                                    <li :class="{active:show.page===index(i)}" v-for="i in Math.min(5,totalPage)">
                                        <a @click="show.page=index(i)">{{index(i)}}</a>
                                    </li>
                                    <li :class="{disable:show.page===totalPage}">
                                        <a @click="next()">下一页»</a>
                                    </li>
                                </ul>
                                <div><span>共{{totalPage}}页&nbsp;</span>
                                    <span>到<input ref="pageNum" type="text" class="page-num">页
                                        <button class="page-confirm" @click="gotoPage">确定</button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="like-title">
                        <div class="mt">
                            <span class="fl"><strong>热卖单品</strong></span>
                        </div>
                    </div>
                    <div class="like-list">
                        <ul class="yui3-g">
                            <li class="yui3-u-1-4">
                                <div class="list-wrap">
                                    <div class="p-img">
                                        <img src="img/_/itemlike01.png"/>
                                    </div>
                                    <div class="attr">
                                        <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                                    </div>
                                    <div class="price">
                                        <strong>
                                            <em>¥</em>
                                            <i>3699.00</i>
                                        </strong>
                                    </div>
                                    <div class="commit">
                                        <i class="command">已有6人评价</i>
                                    </div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="list-wrap">
                                    <div class="p-img">
                                        <img src="img/_/itemlike02.png"/>
                                    </div>
                                    <div class="attr">
                                        <em>Apple苹果iPhone 6s/6s Plus 16G 64G 128G</em>
                                    </div>
                                    <div class="price">
                                        <strong>
                                            <em>¥</em>
                                            <i>4388.00</i>
                                        </strong>
                                    </div>
                                    <div class="commit">
                                        <i class="command">已有700人评价</i>
                                    </div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="list-wrap">
                                    <div class="p-img">
                                        <img src="img/_/itemlike03.png"/>
                                    </div>
                                    <div class="attr">
                                        <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                                    </div>
                                    <div class="price">
                                        <strong>
                                            <em>¥</em>
                                            <i>4088.00</i>
                                        </strong>
                                    </div>
                                    <div class="commit">
                                        <i class="command">已有700人评价</i>
                                    </div>
                                </div>
                            </li>
                            <li class="yui3-u-1-4">
                                <div class="list-wrap">
                                    <div class="p-img">
                                        <img src="img/_/itemlike04.png"/>
                                    </div>
                                    <div class="attr">
                                        <em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
                                    </div>
                                    <div class="price">
                                        <strong>
                                            <em>¥</em>
                                            <i>4088.00</i>
                                        </strong>
                                    </div>
                                    <div class="commit">
                                        <i class="command">已有700人评价</i>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./js/vue/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/common.js"></script>
<script type="text/javascript">
    var homeOrderReceiveVm = new Vue({
        el: "#homeOrderReceiveApp",
        data: {
            ly,
            orders: [],
            show: {         //显示
                status: 3,
                page: 1,
                rows: 5
            },
            total: 1,
            totalPage: 1,
            username: "",
            orderStatus: ["", "未付款", "已付款未发货", "已发货未确认", "已确认未评价", "交易关闭", "交易成功，已评价"]     //订单状态：1未付款，2已付款未发货，3已发货未确认，4已确认未评价，5交易关闭，6交易成功，已评价
        },
        created() {//定义钩子函数，初始化参数
            let page = ly.getUrlParam("page");
            page = parseInt(page) || 1;
            this.show.page = page;
            //发送异步请求，获取数据
            this.loadData();
        },
        watch: {
            show: {
                deep: true,
                handler() {
                    //将search对象变成请求参数，拼接在url路径
                    this.loadData();
                }
            }
        },
        methods: {
            loadData() {
                //初始化用户地址
                //初始化默认地址
                //判断是否登录
                ly.verifyUser().then(({data}) => {
                    this.username = data.username;
                    //已登录
                    ly.http.get("/order/order/list?" + ly.stringify(this.show)).then(({data}) => {
                        this.orders = data.items;
                        this.total = data.total;
                        this.totalPage = data.totalPage;
                    })
                }).catch(() => {
                    //未登录，转去登录页
                    window.location = "/login.html?returnUrl=" + window.location.href;
                })
            },
            logout() {
                // 删除cookie中的token即可
                Cookies.remove("LY_TOKEN", {
                    path: "/",
                    domain: "leyou.com"
                });
                window.location = 'http://www.leyou.com'
            },
            toPay(orderIdStr) {
                window.location = "/pay.html?orderId=" + orderIdStr;
            },
            prev() {
                if (this.show.page > 1)
                    this.show.page--;
            },
            next() {
                if (this.show.page < this.totalPage)
                    this.show.page++;
            },
            index(i) {   //用于计算当前页
                if (this.show.page <= 3 || this.totalPage <= 5) {
                    return i;   //当前页小于3或页面总数小于5，渲染前5页
                } else if (this.show.page >= this.totalPage - 2) {
                    return this.totalPage - 5 + i;  //当前页是最后3页，渲染最后5页
                } else {
                    return this.show.page - 3 + i;
                }
            },
            gotoPage() {
                this.show.page = this.$refs.pageNum.value;
            }
        },
        components: {
            lyTop: () => import("/js/pages/top.js")
        }
    })
</script>

<!-- 底部栏位 -->
<!--页面底部，由js动态加载-->
<div class="clearfix footer"></div>
<script type="text/javascript">$(".footer").load("foot.html");</script>
<!--页面底部END-->
<script type="text/javascript" src="js/plugins/jquery.easing/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/plugins/sui/sui.min.js"></script>
<script type="text/javascript" src="js/pages/getOrderInfo.js"></script>
</body>

</html>